.card:nth-child(even) {
    background-color: #fafafa;
}

.card-content {
    font-size: 2em;
}

.card-list {
    max-height: 400px;
    min-width: 200px;
    overflow-y: auto;
}

.card-title { color: black; }
